header {
    background-color: #4e4e4e;
    color: black;
    border-bottom: solid 1px #8e8e8e;
}

.title {
    text-align: center;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #4e4e4e;
}

#locationInput {
    width: 30%;
    border: solid 1px;
    background-color: #2e2e2e;
    margin: 10px;
    color: white;
}

.app-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    border: solid 1px white;
    color:black;
    margin: 50px 0 0 10px;
    height: 1200px;
    background-color: #8e8e8e;
    border-radius: 15px;
  }

#weatherData {
    display: flex;
    color: black;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    align-items: center;
    gap: 80px;
    background-color: #8e8e8e;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    line-height: 15px;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 1200px;
    border: solid 1px white;
    color: black;
    margin: 50px 10px 0 10px;
    border-radius: 15px;
  }
  
 

.time-container {
    color: antiquewhite;
    font-size: 20px;
    font-weight: 400;
}

#timeTitle {
    text-align: center;
}

.displayDateTime {
    text-align: center;
    margin-top: -15px;
}

.modal {
    background-color: #4e4e4e;
    text-align: center;
    color: antiquewhite;
    line-height: 5px;
    font-weight: 900;
    width: 75%;
    height: 40%;
  }
  

#modalBtn {
    color: white;
    background-color: #8e8e8e;
    border-radius: 5px;
}

#forecastbtn {
    border-radius: 5px;
    text-align: center;
    height: 50px;
    background-color: #6e6e6e;
    border: solid 1px white;
}

#weatherMap {
    width: 90%;
    height: 80%;
    margin-top: 25px;
    border-radius: 15px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    border: solid 1px white;
    color: #8e8e8e;
    margin: 50px 10px 0 10px;
  }
  
  .mapContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: solid 2px black;
    text-align: center;
    height: 250px;
    border-radius: 10px;
  }

  .locationSearched {
    color: white;
    font-weight: 500;
    font-size: 25px;
  }