header {
    background-color: #4e4e4e;
    color: black;
    border-bottom: solid 1px #8e8e8e;
  }
  
.title {
    text-align: center;
    color: white;
}

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: #4e4e4e;
  }

  #locationInput {
    width: 30%;
    border: solid 1px;
    background-color: #2e2e2e;
    margin: 10px;
    color: white;
  }

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: solid 1px white;
    color:black;
    margin: 10px 10px 10px 10px;
    height: 1000px;
    background-color: #8e8e8e;
    border-radius: 15px;
    
  }


  .time-container{
    color:antiquewhite;
    font-size: 20px;
    font-weight: 400;
  }

  #timeTitle {
    text-align: center;
    }

    .displayDateTime {
        text-align: center;
        margin-top: -15px;
      }



      .modal {
        background-color: #4e4e4e;
        text-align: center;
      }
      